/*

.button-style{
    width:250px;
    height:30px;
    background-color:dodgerblue;
    color:aliceblue;
    margin-bottom: 20px;
}
.form-style{
    text-align: center;
    width:400px;
    margin-left: 500px;
    background-color: #e7f4f5;
}
.table-style{
    border-color:#f1e0e0;
    border-style: hidden;
    border-collapse: collapse;
    background-color: #cdf1f3;
    color:rgb(48, 95, 248);
}
.table-border-style{
    border-style: hidden;
}

*/